*.dll
*.pdb
/bin/*
/obj/*
/x64/*
/x86/*
/types-gtanetwork/*
/types-gt-mp/*
/Properties/*
obj/Debug/d20rp.dll
obj/Debug/d20rp.pdb
*.dll
*.exe
*.config
*.json
*.csproj
*.user
Discord.Net.Commands.xml
Discord.Net.Core.xml.xml
Discord.Net.Core.xml
Discord.Net.Rpc.xml
Discord.Net.Webhook.xml
Discord.Net.WebSocket.xml
Microsoft.Extensions.DependencyInjection.Abstractions.xml
Microsoft.Extensions.DependencyInjection.xml
Newtonsoft.Json.xml
System.Data.SQLite.xml
System.Diagnostics.DiagnosticSource.xml
System.Interactive.Async.xml
/database/*
Nito.AsyncEx.Concurrent.xml
Microsoft.Threading.Tasks.xml
Microsoft.Threading.Tasks.Extensions.xml
Microsoft.Threading.Tasks.Extensions.Desktop.xml
Nito.AsyncEx.xml
Nito.AsyncEx.Enlightenment.xml
